:root{
    --primary-color:#FFFFFF;
    --primary-text-color:#212121;
    --accent-text-color:#2196F3;
    --color-contact:#757575;
    --background-hero:#2F303A;
    --background-filter-btn:#F5F4FA;
    --footer-color-contact:rgba(255, 255, 255, 0.6);
    --background-hero-btn:#188CE8;
    --background-color-team:#F5F4FA;
    --background-img-team:#FFFFFF;
}

body{
    background-color: var(--primary-color);
    font-family: 'Roboto' ,sans-serif;
    color: var(--color-contact) ;
}
/* Header */
.haeder{
        width: 1600px;
        height: 80px;
        left: 0px;
        top: 0px;
        background-color: var(--primary-color);
}
.list {
    list-style-type: none;
}
/*Site logo*/
.logo{
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-text-color);
}
.text-logo{
    color: var(--primary-text-color);
}
/*Site nav*/
.link{
text-decoration: none;
}
.element-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color: var(--primary-text-color); 
}
.element-nav.current{
        color: var(--accent-text-color);
}
/*Contact*/
.contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
}
.element-contact{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    color:var(--color-contact);
}
.element-contact:hover,
.element-contact:focus{
    color: var(--accent-text-color);
}
/*Hero*/
.hero{
    background-color: var(--background-hero);
}
.primary-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-color);
}
.hero-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
.hero-btn.primary{
    border-radius: 4px;
    color: var(--primary-color);
    background-color:var(--accent-text-color);
}
.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--background-hero-btn);
}
/*First section*/
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.information{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.title-secondary{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
/* Secont section */
.title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--primary-text-color);
}
/* Third section */
.section-team{
    background-color: var(--background-color-team);
}
.team-info{
    background-color: var(--background-img-team);
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.position{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
/* Section Portfolio */
.button-filter.primary{
    font-family: inherit;
    border-radius: 4px;
    border: transparent;
    cursor: pointer;
    background-color: var(--background-filter-btn);
}
.button-filter{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
}
.button-filter:hover,
.button-filter:focus{
    background-color: var(--accent-text-color);
    color:var(--primary-color);
}
.name-project{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project{
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.03em;
    color: var(--color-contact);
}
/* Footer */
.footer{
    background: var(--background-hero);
}
.footer-text-logo{
    color: var(--primary-color);
}
.street{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}
.street:hover,
.street:focus{
    color:var(--accent-text-color);
}
.contact-footer{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-color-contact);
}
.contact-footer:hover,
.contact-footer:focus{
    color: var(--accent-text-color);
}
